<script id='all-page-template' type="text/ractive">

    <div class="filters">
        <div class="filter-bar">
            <div class="filter selected">
                <svg width="20" height="20" class="svg-icon mr-1">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#search"></use>
                </svg>
                <input type="text" />
            </div>
            <div class="filter">

            </div>
            <div class="filter">
                <input id="test" class="mt-checkbox" type="checkbox">
                <label for="test">Детям</label>
            </div>
            <div>
                <a href="https://vk.com/im?media=&sel=-85606912" target="blank">Чтобы получать сообщения от бота напишите "старт"</a>
            </div>
        </div>
    </div>
    <div class='content'>
       @* <div class='row'>
            @for (int i = 0; i < 10; i++) {
                <div class="event event-grid mb-3 col-sm-6 col-xs-6 col-md-4">
                    <a href="javascript:;">
                        <img class="img-preview col-md-12 col-sm-12 col-xs-12" src="https://img08.rl0.ru/afisha/e285x150q85i/s1.afisha.ru/MediaStorage/95/5f/40281b9513ba44d2b093993b5f95.jpg">
                    </a>
                    
                    <div class="event-content">
                        <a class="event-title" href="javascript:;" on-click="@@global.router.navigate('event', 1)">Бегущий по лезвию 2049</a>
                        <div class="small">2017 / Россия / Триллер</div>
                        <div class="event-desc">Возвращение в мир репликантов</div>

                        <div class="event-counters">
                            <span class="icon-counter mr-2">
                                <svg width="16" height="16" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#rating"></use>
                                </svg> 56
                            </span>
                            <span class="icon-counter mr-2">
                                <svg width="16" height="16" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#comments"></use>
                                </svg> 23
                            </span>
                            <span class="icon-counter">
                                <svg width="16" height="16" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#going"></use>
                                </svg> 100
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>*@
    </div>
</script>