<script id="all-page-template" type="text/ractive"><div class='content'>
        <div class='row'>
            {{#each Items:i}}
            <div class="event {{Filter.ViewType==0?'event-grid col-3':'event-list col-12'}} movie mb-3">
                <a href="javascript:;" on-click="@@global.router.navigate('event', this)">
                    <img class="img-preview col-md-12 col-sm-12 col-xs-12" src="{{Poster.Url}}">
                </a>
                <div class="event-content">
                    <a class="event-title" href="javascript:;" on-click="@@global.router.navigate('event', this)">{{Name}}</a>
                    <div class="small">
                        {{ProductionYear}} / {{Country}}
                        {{#if Genres.Links.length > 0}} / {{Genres.Links[0].Name}}{{/if}}
                        {{#if AgeRestriction != ""}} / <strong>{{AgeRestriction}}</strong>{{/if}}
                    </div>
                    <div class="event-desc">{{Verdict}}</div>

                    <div class="event-counters">
                        <span class="icon-counter rating mr-2">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#rating"></use>
                            </svg> {{toFixed(parseFloat(Rating),2)}}
                        </span>
                        <span class="icon-counter comments mr-2">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#comments"></use>
                            </svg> 23
                        </span>
                        <span class="icon-counter">
                            <svg width="16" height="16" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#going"></use>
                            </svg> 100
                        </span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div></script>