<header id="header">
    <div class="header-content">
        <div class="left-header">
            <div class="breadcrumb">
                {{#partial breadcrumb}}
                    {{#if parent != null}}
                        {{#with parent}}
                            <a href="javascript:;" on-click="@@global.router.navigate(id)">{{title}}</a>
                            {{>breadcrumb}}
                        {{/with}}
                    {{/if}}
                {{/partial}}
                {{#with currentPage}}
                    <span>{{title}}</span>
                    {{>breadcrumb}}
                {{/with}}
            </div>
        </div>
        <div class="right-header">
            <ul class="header-menu">
                <li>
                    <a href="javascript:;" data-toggle="dropdown">
                        <svg width="25" height="25" class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#search"></use>
                        </svg>
                    </a>
                </li>

                <li class="dropdown friends-item" 
                    onclick="dropdown.toggle(this, event, 'friends-dropdown', Header.openFriends)">
                    @await Html.PartialAsync("Friends")
                </li>

                <li>
                    <a href="javascript:;" data-toggle="dropdown">
                        <svg width="25" height="25" class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#notification"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="javascript:;" data-toggle="dropdown">
                        <svg width="25" height="25" class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#favorite"></use>
                        </svg>
                    </a>
                </li>

                <li class="dropdown profile-item" onclick="dropdown.toggle(this, event, 'profile-dropdown')">
                    {{#with parent.data}}
                    <a href="javascript:;">
                        <img id="header-avatar" class="icon-circle user-avatar" src="{{currentUser.photo_200}}">
                        <span>                                
                            {{currentUser.first_name}}&nbsp;{{currentUser.last_name}}                                
                            <svg width="15" height="15" class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svg-icons.min.svg#arrow-down"></use>
                            </svg>
                        </span>
                    </a>
                    {{/with}}
                    <div id="profile-dropdown" class="dropdown-content w-100">
                        <a href="#home">Профиль</a>
                        <a href="#about">Избранное</a>
                        <div class="separator"></div>
                        <a href="#contact">Выход</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>